@font-face {
  font-family: "Bell-mt";
  src: asset-url("bell-mt.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Bookos";
  src: aaset-url("bookos.ttf") format("truetype"); 
}