/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* TCT: Desktops and laptops ----------- */
@media only screen
and (min-width : 0px)
{
  html body{
    width: 1280px;
  }
  body #main #right-section #video-mosaic #big-row{
    height: 295.250px;
  }
  body #main #right-section #video-mosaic #third-row {
    height: 152.954px;
  }
  html body #main #left-bar #menu ul li a {
    font-size: 23px;
  }
  body #main #left-bar #menu ul li a#menu-reel {
    font-size: 32px;
  }
  body #main #left-bar #description p {
    font-size: 14px;
  }
  body #main #left-bar #footer-logo p {
    font-size: 19px;
  }
  #main #right-section #header li a{
    font-size: 19px;
  }
  
  #main #right-section #video-mosaic .square-video-box a .video-overlay > span{
    font-size: 26px;
  }
  #main #right-section #video-mosaic .video-box a div span{
    font-size: 17px;
  }
  #main #right-section div#header li a{
    font-size: 19px;
  }
}
@media only screen
and (max-height : 679px)
{
  html body{
    height: 100%;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}