// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main{
  width:100%;
  height: 100%;
  #left-bar{
    position: relative;
    z-index: 2;
    p{
      display: table-cell;
      vertical-align: middle;
    }
    height: 100%;
    width: 18%;
    float:left;
    box-shadow: 1px 0px 57px #888888;
    #logo{
      height: 14%;
      display: table;
      width: 100%;
      padding-right: 9%;
      padding-left: 4%;
      padding-top: 5%;
      li{
        padding-left: 5%;
        display: table-cell;
        vertical-align: middle;
        list-style: none;
        img{
          width: 100%;
          cursor: pointer;
        }
      }
    }
    #menu{
      padding-top: 36%;
      padding-left: 17%;
      height:32%;
      ul{
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          display: table;
          height: 33.333333%;
          width: 100%;
          a#menu-reel{
            font-size: 2.5vw;
            color: #820c09;
            transition: all 0.5s ease;
          }
          a#menu-reel:hover{
            -moz-transform: scale(1.04) translate(2%, 0);
            -webkit-transform: scale(1.04) translate(2%, 0);
            -o-transform: scale(1.04) translate(2%, 0);
            -ms-transform: scale(1.04) translate(2%, 0);
            transform: scale(1.04) translate(2%, 0);
          }
          a{
            color: black;
            display: table-cell;
            vertical-align: middle;
            text-decoration: none; 
            font-size: 1.8vw;
            font-family: "BNL";
          }
          a:hover{
            color: #820c09;
          }
          a#menu-reel:after{
            content: '\025B8';
            padding: 0;
            margin: 0;
            font-size: 2.5vw;
            padding-left: 2%;
          }
        }
      }
    }
    #social-bar{
      padding-left: 17%;
      height: 13%;
      padding-right: 20%;
      padding-top: 15%;
      .social-icon{
        width: 25%;
        float: left;
        padding-right: 4%;
        a{
          img{
            max-width: 100%;
            
          }
        }
      }
    }
    #description{
      display: table;
      padding-left: 17%;
      padding-right: 15%;
      height: 29%;
      p{
        font-size: 1.1vw;
        font-family: "LT";
      }
    }
    #footer-logo{
      display: table;
      padding-left: 17%;
      padding-right: 10%;
      height: 12%;
      padding-top: 7%;
      p{
        color: #820c09;
        font-size: 1.5vw;
        font-family: "BNL";
        float: left;
        width: 100%;
      }
      p#tcit-add{
        vertical-align: bottom;
        font-size: 0.7vw;
        float: left;
        a{
          text-decoration: none;
          color: green;
        }
      }
    }
  }
  #right-section{
    float:left;
    position: relative;
    #header{
      padding-top: 0.9%;
      height: 7.5%;
      display: table;
      width: 100%;
      padding-left: 2%;
      padding-right: 6%;
      z-index: 1;
      position: relative;
      box-shadow: 0px 2px 6px -3px rgba(0,0,0, 0.6);
      li{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        z-index: 2;
        a{
          color: #4f4f4f;
          text-decoration: none;
          font-size: 1.5vw;
          font-family: "BNL";
          cursor: pointer;
        }
        a.active{
          border: solid;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
          border-color: #820c09;
        }
        a:hover{
          color: #820c09;
        }
      }
      li.hidden{
        visibility: hidden;
      }
      li#header-isologo{
        z-index: 1;
        position: absolute;
        left: -1px;
        right: -1px;
        div{
          display: inline-block;
          border-radius: 50%;
          width:20%;
          img{
            max-width: 60%;
            cursor: pointer;
          }
        }
      }
    }
    #video-mosaic{
      height: 83%;
      
      .video-overlay{
        width: 101%;
        height: 101%;
        z-index: 0;
        position: absolute;
        background-color: #820c09;
        opacity: 0;
        cursor: pointer;
        padding-top: 25%;

        span{
          color: white;
          font-family: Concurso;
          font-size: 1.3vw;
          padding-left: 10%;
        }
      }
      .square-video-box .video-overlay span{
        font-size: 2vw;
      }
      #big-row{
        width: 100%;
        height: 66%;
      }
      .video-box{
        position: relative;
        height: 100%;
        width: 25%;
        float: left;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        a{
          img{
            width:100%;
            height:100%;
            opacity: 0;
          }
          img.active{
            opacity: 1;
          }
        }
      }
      .square{
        height: 100%;
        width: 50%;
        float: left;
        .video-box{
          width: 50%
        }
        .square-video-box{
          position: relative;
          height: 100%;
          width: 100%;
          float: left;
          background-image: image-url("reelbn.jpg");
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          a{
            img{
              width:100%;
              height:100%;
              opacity: 0;
            }
            img.active{
              opacity: 1;
            }
          }
        }
        #first-row{
          .video-box{
            background-image: image-url("fundacionbn.jpg");
          }
          .video-box + .video-box{
            background-image: image-url("autosbn.jpg");
          }
          height: 50%;
        }
        #second-row{
          .video-box{
            background-image: image-url("ostbn.jpg");
            
          }
          .video-box + .video-box{
            background-image: image-url("carpenterbn.jpg");
          }
          height: 50%;
        }
      }
      
      #third-row{
        .video-box{
          height: 100%;
          .video-overlay{
            height:100%;
          }
          background-image: image-url("greatwallbn.jpg");
        }
        .video-box + .video-box{
          background-image: image-url("reconstruirbn.jpg");
        }
        .video-box + .video-box + .video-box{
          background-image: image-url("moribn.jpg");
        }
        .video-box + .video-box + .video-box + .video-box{
          background-image: image-url("rodeobn.jpg");
        }
        height: 34%;
      }
    }
    #footer:hover #footer-right-arrow{
      opacity: 1; 
      cursor: pointer;
      z-index: 1;
    }
    #footer:hover #footer-left-arrow{
      opacity: 1; 
      cursor: pointer;
      z-index: 1;
    }
    #footer{
      height: 9.5%;
      position: relative;
      padding-bottom: 1%;
      #footer-left-arrow{
        position: absolute;
        top: 45%;
        font-size: 22px;
        opacity: 0;
        left: 1%;
      }
      #footer-right-arrow{
        position: absolute;
        top: 45%;
        font-size: 22px;
        right: 1%;
        opacity: 0;
      }
      .caroufredsel_wrapper{
        height: 100%;
      }
      #sponsors-carousel{
        height: 100%;
        list-style: none;
        visibility: hidden;
        li{
          position: relative;
          display: block;
          float: left;
          width: 12.5%;
          height: 100%;
          text-align: center;
          img{
            display: inline;
            max-width: 100%;
            max-height: 100%;
            padding-top: 3%;
            padding-bottom: 3%;
          }
        }
      }
    }
    width: 82%;
    height: 100%;
  }
}

body{
  margin: 0;
  height: 100%;
}
html{
  height: 100%;
}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;

}
#what-we-do-modal{
  p{
    font-family: "Concurso";
  }
}
.modal-logo{
  margin-bottom: 23px;
  border-bottom: solid;
  border-bottom-width: 1px;
  img{
    max-width: 191px;
  }
}
#contact-modal{
  input, textarea{
    width: 100%;
    font-family: "Concurso";
    font-size: 15px;
  }
  input#name{
    margin-top: 0;
  }
  label{
    font-family: "Concurso";
  }
  #contact-modal-form{
    float: left;
    width: 50%;
  }
  #contact-modal-likebox{
    float: left;
    width: 50%;
    padding-left: 10%;
  }
}