// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main{
  width:100%;
  height: 100%;
  #left-bar{
    p{
      display: table-cell;
      vertical-align: middle;
    }
    height: 100%;
    width: 20%;
    float:left;
    #logo{
      height: 12%;
      display: table;
      width: 100%;
      li{
        padding-left: 5%;
        display: table-cell;
        vertical-align: middle;
        list-style: none;
        img{
          width: 100%;
        }
      }
    }
    #menu{
      padding-left: 10%;
      height:32%;
      ul{
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          display: table;
          height: 33.333333%;
          width: 100%;
          a{
            color: black;
            display: table-cell;
            vertical-align: middle;
            text-decoration: none; 
            font-size: 1.8vw;
          }
          a:hover{
            color: #aa4d09;
          }
          a:hover:after{
            content: '\025B8';
            padding: 0;
            margin: 0;
            font-size: 1.6vw;
            padding-left: 2%;
          }
        }
      }
    }
    #social-bar{
      padding-left: 10%;
      height: 7%;
    }
    #definition{
      display: table;
      padding-left: 10%;
      height: 17%;
      p{
        font-size: 1.1vw;
        font-family: "Bell-mt";
      }
    }
    #description{
      display: table;
      padding-left: 10%;
      padding-right: 10%;
      height: 20%;
      p{
        font-size: 1.1vw;
      }
    }
    #footer-logo{
      display: table;
      padding-left: 10%;
      padding-right: 10%;
      height: 12%;
      p{
        color: #aa4d09;
        font-size: 0.8vw;
      }
    }
  }
  #right-section{
    float:left;
    #header{
      height: 12%;
      display: table;
      width: 100%;
      li{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        a{
          color: black;
          text-decoration: none;
          font-size: 2.2vw;
        }
        a:hover{
          border: solid;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
          border-color: #aa4d09;
        }
        a:active{
          color: #aa4d09;
        }
      }
    }
    #video-mosaic{
      border: solid;
      border-color: #aa4d09;
      height: 76%;
      
      .video-box{
        height: 100%;
        width: 25%;
        float: left;
        a{
          img{
            width:100%;
            height:100%;
          }
        }
      }
      
      #first-row{
        height: 33.3333333333333333%;
      }
      #second-row{
        height: 33.3333333333333333%;
      }
      #third-row{
        height: 33.3333333333333333%;
      }
    }
    #footer{
      height: 12%;
    }
    width: 80%;
    height: 100%;
  }
}

body{
  margin: 0;
  height: 100%;
}
html{
  height: 100%;
}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
}