// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-preload{
  display: none;
}
#main{
  width:100%;
  height: 100%;
  #left-bar{
    position: relative;
    z-index: 2;
    p{
      display: table-cell;
      vertical-align: middle;
    }
    height: 100%;
    width: 18%;
    float:left;
    box-shadow: 1px 0px 57px #888888;
    #restart-arrow{
      position: absolute;
      right: -20%;
      opacity: 0;
      transition: opacity 0.5s ease;
      img{
        max-width: 23%;
      }
    }
    #restart-arrow.active{
      opacity: 1;
    }
    #logo{
      height: 14%;
      display: table;
      width: 100%;
      padding-right: 9%;
      padding-left: 4%;
      padding-top: 5%;
      li{
        padding-left: 5%;
        display: table-cell;
        vertical-align: middle;
        list-style: none;
        img{
          width: 104%;
          cursor: pointer;
          position: relative;
          left: -6px;
        }
      }
    }
    #menu{
      padding-top: 36%;
      padding-left: 17%;
      height:32%;
      ul{
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        #li-reel{
          margin-top: 1%;
        }
        #li-contacto{
          margin-top: 2%;
        }
        li{
          display: table;
          height: 33.333333%;
          width: 100%;
          a#menu-reel{
            font-size: 2.5vw;
          }

          a{
            color: black;
            display: table-cell;
            vertical-align: middle;
            text-decoration: none; 
            font-size: 1.8vw;
            font-family: "BNL";
          }
          a:hover{
            color: #820c09;
          }
          a#menu-reel:after{
            content: '\025B8';
            padding: 0;
            margin: 0;
            font-size: 1.6vw;
            padding-left: 2%;
          }
        }
      }
    }
    #social-bar{
      padding-left: 17%;
      height: 13%;
      padding-right: 20%;
      padding-top: 15%;
      #social-icon-facebook{
        background-image: image-url("facebook2.png");
      }
      #social-icon-facebook:hover a{
        opacity: 0;
      }
      #social-icon-twitter{
        background-image: image-url("twitter2.png");
      }
      #social-icon-twitter:hover a{
        opacity: 0;
      }
      #social-icon-instagram{
        background-image: image-url("instagram2.png");
      }
      #social-icon-instagram:hover a{
        opacity: 0;
      }
      #social-icon-vimeo{
        background-image: image-url("vimeo2.png");
      }
      #social-icon-vimeo:hover a{
        opacity: 0;
      }
      .social-icon{
        background-size: contain;
        background-repeat: no-repeat;
        width: 25%;
        float: left;
        padding-right: 4%;
        a{
          transition: opacity 0.5s ease;
          display: block;
          height: 30.484px;

          img{
            max-width: 100%;
            
          }
        }
      }
    }
    #description{
      display: table;
      padding-left: 17%;
      padding-right: 15%;
      height: 29%;
      p{
        font-size: 1.1vw;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    }
    #footer-logo{
      display: table;
      padding-left: 17%;
      padding-right: 10%;
      height: 12%;
      padding-top: 7%;
      p{
        color: #820c09;
        font-size: 1.5vw;
        font-family: "BNL";
        float: left;
        width: 100%;
      }
      p#tcit-add{
        vertical-align: bottom;
        font-size: 0.7vw;
        float: left;
        a{
          text-decoration: none;
          color: green;
        }
      }
    }
  }
  #right-section{
    float:left;
    position: relative;
    #header{
      background-color: #f1f1f1;
      padding-top: 1.7%;
      height: 7.5%;
      display: table;
      width: 100%;
      padding-left: 6%;
      padding-right: 5%;
      z-index: 1;
      position: relative;
      box-shadow: 0px 6px 6px -3px rgba(0,0,0, 0.6);
      margin: 0;
      li{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        z-index: 2;
        float: left;
        margin-left: 3%;
        margin-right: 3%;
        div.wrapper-box{
          width: 132px;
          padding-left: 0%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 4px;
          display: block;
          -webkit-backface-visibility: hidden;
        }
        div.wrapper-box:hover{
          background-color: black;
        }
        
        div.wrapper-box:hover a{
          color: white;
        }
        
        div.wrapper-box.active{
          background-color: #820c09;
        }
        
        div.wrapper-box.active a{
          color: white;
        }
        
        div.wrapper-box{
          transition: all 0.5s ease;
        }
        a{
          color: #4f4f4f;
          text-decoration: none;
          font-size: 1.5vw;
          font-family: "BNL";
          cursor: pointer;
          transition: all 0.5s ease;
        }
      }
      li.hidden{
        visibility: hidden;
      }
      li#header-isologo{
        z-index: 1;
        height: 10px;
        div{
          display: inline;
          border-radius: 50%;
          width:20%;
          img{
            max-width: 126px;
            cursor: pointer;
            position: relative;
            top: -8px;
          }
        }
      }
    }
    #video-mosaic{
      height: 83%;
      overflow-x: hidden;
      .video-overlay{
        width: 101%;
        height: 101%;
        z-index: 0;
        position: absolute;
        background-color: #820c09;
        opacity: 0;
        cursor: pointer;
        padding-top: 25%;

        span{
          color: white;
          font-family: Concurso;
          font-size: 1.3vw;
          padding-left: 10%;
        }
      }
      .square-video-box .video-overlay span{
        font-size: 2vw;
      }
      #big-row{
        width: 100%;
        height: 66%;
      }
      .video-box{
        position: relative;
        height: 100%;
        width: 25%;
        float: left;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        a{
          img{
            width:100%;
            height:100%;
            opacity: 0;
          }
          img.active{
            opacity: 1;
          }
        }
      }
      .square{
        height: 100%;
        width: 50%;
        float: left;
        .video-box{
          width: 50%
        }
        .square-video-box{
          position: relative;
          height: 100%;
          width: 100%;
          float: left;
          background-image: image-url("reelbn.jpg");
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          a{
            img{
              width:100%;
              height:100%;
              opacity: 0;
            }
            img.active{
              opacity: 1;
            }
          }
        }
        #first-row{
          .video-box{
            background-image: image-url("fundacionbn.jpg");
          }
          .video-box + .video-box{
            background-image: image-url("autosbn.jpg");
          }
          height: 50%;
        }
        #second-row{
          .video-box{
            background-image: image-url("ostbn.jpg");
            
          }
          .video-box + .video-box{
            background-image: image-url("carpenterbn.jpg");
          }
          height: 50%;
        }
      }
      
      #third-row{
        .video-box{
          height: 100%;
          .video-overlay{
            height:100%;
          }
          background-image: image-url("greatwallbn.jpg");
        }
        .video-box + .video-box{
          background-image: image-url("reconstruirbn.jpg");
        }
        .video-box + .video-box + .video-box{
          background-image: image-url("moribn.jpg");
        }
        .video-box + .video-box + .video-box + .video-box{
          background-image: image-url("rodeobn.jpg");
        }
        height: 34%;
      }
    }
    #footer:hover #footer-right-arrow{
      opacity: 1; 
      cursor: pointer;
      z-index: 1;
    }
    #footer:hover #footer-left-arrow{
      opacity: 1; 
      cursor: pointer;
      z-index: 1;
    }
    #footer{
      height: 9.5%;
      position: relative;
      padding-top: 1%;
      #footer-left-arrow{
        position: absolute;
        top: 45%;
        font-size: 22px;
        opacity: 0;
        left: 1%;
      }
      #footer-right-arrow{
        position: absolute;
        top: 45%;
        font-size: 22px;
        right: 1%;
        opacity: 0;
      }
      .caroufredsel_wrapper{
        height: 100%;
      }
      #sponsors-carousel{
        height: 100%;
        list-style: none;
        visibility: hidden;
        margin: 0;
        li{
          position: relative;
          display: block;
          float: left;
          width: 12.5%;
          height: 100%;
          text-align: center;
          img{
            display: inline;
            max-width: 100%;
            max-height: 100%;
            padding-bottom: 3%;
          }
        }
      }
    }
    width: 82%;
    height: 100%;
  }
}

body{
  margin: 0;
  height: 100%;
}
html{

}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;

}
#what-we-do-modal{
  p{
    font-family: "Concurso";
    font-size: 18px;
  }
}
.modal-logo{
  margin-bottom: 23px;
  border-bottom: solid;
  border-bottom-width: 1px;
  img{
    max-width: 191px;
  }
}
#contact-modal{
  input, textarea{
    width: 100%;
    font-family: "Concurso";
    font-size: 15px;
    resize: none;
  }
  [placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease; 
    opacity: 0;
  }
  input#name{
    margin-top: 0;
  }
  label{
    font-family: "Concurso";
  }
  #contact-modal-form{
    float: left;
    width: 50%;
  }
  #contact-modal-likebox{
    float: left;
    width: 50%;
    padding-left: 10%;
  }
  div.fancybox-skin{
    background-color: #f1f1f1;
  }
}